<h1> Welcome to Precision Auto Detailing! </h1>

<p> A client management application where Auto Detailers can keep track of their clients and appointments! </p>
<p> Keep up to date on all your clients preferences, appointments, and more! </p>
<p> Sign up or Log in above! </p>